hostname {{ hostname }}
ip domain name {{ domain_name }}
ip ssh version 2
{% if enable_netconf | default(true) %}
netconf-yang
{% endif %}
{% if enable_restconf | default(false) %}
restconf
{% endif %}
{% if netconf_restrict_subnet is defined and netconf_restrict_subnet and mgmt_interface is defined and mgmt_interface %}
ip access-list extended MGMT-NETCONF-ONLY
 permit tcp {{ netconf_restrict_subnet }} any eq 830
 deny tcp any any eq 830 log
 permit ip any any
interface {{ mgmt_interface }}
 ip access-group MGMT-NETCONF-ONLY in
{% endif %}
